body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #03545A;
    color: White;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    

}

header h1 {
background-color: rgb(82, 78, 78);
}

header ul {
    display: flex;
    color: white;
    text-decoration: underline;
    justify-content: space-around;

    
}

.links {
    background-color: none;
    color: white;
    padding: 1em;
    text-decoration: none;
    
}

.nav-image {
    background-color: rgb(21, 17, 17);
    color: white;
    background-size: cover;
    background-image: url("/images/Black_Hex.jpeg");
    background-repeat: no-repeat;
    padding: 100px;
}

.subtitle {
    color: white;
    text-align: end;
    vertical-align: text-bottom;

}

.about-me {
    padding: 10px;
    margin: 0%;
   
    
}